/* Home Page */

position: absolute;
width: 1920px;
height: 1080px;



/* Frame 1 */

position: absolute;
width: 1920px;
height: 1080px;

background: #333620;


/* RSPBLogo 1 */

position: absolute;
width: 50px;
height: 50.49px;
left: 1824px;
top: 986px;

background: url(RSPBLogo.png);


/* Group 7 */

position: absolute;
width: 763px;
height: 265px;
left: 578px;
top: 65px;



/* Group 2 */

position: absolute;
width: 763px;
height: 100px;
left: 578px;
top: 65px;



/* Ellipse 1 */

position: absolute;
width: 100px;
height: 100px;
left: 578px;
top: 65px;

background: #C4C4C4;


/* BirdLogo 1 */

position: absolute;
width: 88px;
height: 91px;
left: 584px;
top: 69px;

background: url(BirdLogo.png);


/* Birdsong Identifier */

position: absolute;
width: 638px;
height: 58px;
left: 703px;
top: 86px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 96px;
display: flex;
align-items: center;

color: #FFFFFF;



/* Frame 2 */

position: absolute;
width: 624px;
height: 141px;
left: 678px;
top: 189px;

border: 1px solid #828282;
box-sizing: border-box;


/* The birdsong identifier is a learning too to learn the songs of 10 of Britains most common birds. */

position: absolute;
width: 532px;
height: 141px;
left: 46px;
top: 8px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* robincut 1 */

position: absolute;
width: 1500px;
height: 1000.12px;
left: -295px;
top: 87px;

background: url(robincut.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Group 5 */

position: absolute;
width: 966px;
height: 148px;
left: 584px;
top: 411px;



/* Group 4 */

position: absolute;
width: 319px;
height: 127px;
left: 584px;
top: 421px;



/* Frame 4 */

position: absolute;
width: 319px;
height: 123px;
left: 584px;
top: 425px;

background: #545550;
border: 3px solid #828282;
box-sizing: border-box;
border-radius: 20px;


/* Learn */

position: absolute;
width: 319px;
height: 127px;
left: 584px;
top: 421px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 72px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Start here In the learn section you will learn you will learn to identify birds by the sound of their songs. */

position: absolute;
width: 565px;
height: 148px;
left: 985px;
top: 411px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;



/* Group 6 */

position: absolute;
width: 975px;
height: 204px;
left: 584px;
top: 640px;



/* Group 4 */

position: absolute;
width: 319px;
height: 127px;
left: 584px;
top: 662px;



/* Frame 4 */

position: absolute;
width: 319px;
height: 123px;
left: 584px;
top: 666px;

background: #545550;
border: 3px solid #828282;
box-sizing: border-box;
border-radius: 20px;


/* Quiz */

position: absolute;
width: 319px;
height: 127px;
left: 584px;
top: 662px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 72px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Test your skills In the quiz section you will test your skills by listenting to the songs of birds and matching them to their name from a selection of birds. */

position: absolute;
width: 580px;
height: 204px;
left: 979px;
top: 640px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

