/*Global Styles*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:400,500,700');

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #383827;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
}

button {
    height: 50px;
    width: 150px;
    font-size: large;
    border-radius: 10px;
    border-style: solid;
    color: white;
    background-color: #9B6D2E;
}

a {
    text-decoration: none;
    color: white;
}

/*-----------------Index page----------------------*/
#index-body {
    display: grid;
    
}

#index-main {
    display: grid;
    grid-template-columns: auto auto ;
}

#index-header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: white;
    text-decoration: none;
}

#sections {
    position: relative;    
}

#home_bird {
    position: absolute;
    height: 1100px;
    left: -50px;
    z-index: -1;
}

/*--------------Navigation Container------------------*/
nav {
    display: flex;
    align-items: center;
}

#logo-container {
    display: flex;
    color: white;
    text-decoration: none;
    position: relative;
    left: 10%;  
}

#nav-button-container {
    position: absolute;
    right: 10%;
}

.nav-button {
    height: 50px;
    width: 150px;
    color: white;
    background-color: #383827;
    border-style: solid;
    border-width: 1px;
    border-color: #383827;
    margin: 10px;
    font-size: large;
}

#current-page {
    border-color: white;
    background-color: #9B6D2E;
}

/*----------------Main Container--------------------*/
main {
    display: flex;
    flex-direction: column;    
    margin-left: auto;
    margin-right: auto;
}

/*Intro paragraph*/
.intro-container {
    font-size: larger;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #868547;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 3px 3px rgb(24, 32, 20), 5px 3px 3px rgb(24, 32, 20);
}

/*Container that the user interacts with*/
.interact-container {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-template-columns: auto auto ;
    
}

#learn-bird-container {
    display: grid;
}

input {
    width: 400px;
    height: 40px;
    border-radius: 7px;
    border-style: solid;
}

#learn-bird {
    height: 400px;
    border-radius: 100%;
    box-shadow: 5px 3px 3px rgb(24, 32, 20), 5px 3px 3px rgb(24, 32, 20);
}

h2 {
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;   
}

#learn-more-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}    

#next  {
    margin-left: auto;
    margin-right: auto;  
    margin-top: 50px;
    grid-column-start: 2; 
}

/*-----------------Grid container--------------------*/

.grid-container {
    width: 650px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.bird {
    height: 90px;
    border-radius: 100px;
    box-shadow: 5px 3px 3px rgb(24, 32, 20), 5px 3px 3px rgb(24, 32, 20);
}
    

.grid-item {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;    
}

#submit {
    margin-top: 30px;
    width: 400px;
}   

/*-------------- User Input ---------------------------*/

#audio-memory-keys{
    width: 400px;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 30px;
    margin-bottom: 30px;
}

audio {
    width: 400px;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 10px;
    border-radius: 10px;
}
  
/*--------------Specific to the Quiz Page---------------*/

.quiz-intro {
    margin-left: auto;
    margin-right: auto;
}

#instruction {
    background-color: grey;
    border-style: solid;
    height: 350px;
    width: 350px;
    border-radius: 100%;
    text-align: center;  
    box-shadow: 5px 3px 3px rgb(24, 32, 20), 5px 3px 3px rgb(24, 32, 20);
}

#instruct-text {
    border-radius: 100%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

#quiz_audio_hint {
    margin: 20px;
    display: grid;
    align-content: center;
    
}

#get-a-hint { 
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#mem_key {
    margin-left: auto;
    margin-right: auto;   
}    

#quiz_audio {
    width: 400px;
    height: 40px;
}

.difficulty {
    margin: 20px;
}

#selected_difficulty {
    box-shadow: 5px 3px 3px rgb(24, 32, 20), 5px 3px 3px rgb(24, 32, 20);
    color: rgb(24, 32, 20);
}

#easy_grid {
    height: 200px;

}

#medium_grid {
    height: 300px;
    margin-bottom: 40px;
}

#hard_grid {
    margin-bottom: 40px;
}
/*----------------Footer Container----------------*/

footer {
    display: grid;
    grid-template-columns: auto auto ;
    padding: 20px;
    background-color: #868547;
}

#RSPB {
    float: right;
    margin: 25px; 
}

#RSPB-logo {
    float: right; 
    margin: 10px; 
}
